[gcode_macro PRINT_START]
gcode:
  {% set BED = params.BED_TEMP|int %}
  {% set EXTRUDER = params.EXTRUDER_TEMP|int %}
  G90  ;Set to absolute positioning
  SET_LED_TO_RED
  M190 S{BED}
  M109 S{EXTRUDER}

  SMARTHOME  ;Home all Axes if Needed
  BED_MESH_PROFILE LOAD=default  ;Load Bed Mesh Profile
  SET_LED_TO_WHITE
  _PURGE_LINE  



[gcode_macro _PURGE_LINE]
gcode:
  {% if printer["gcode_macro status_cleaning"] != null %}
    status_cleaning
  {% endif %}
  SAVE_GCODE_STATE NAME=Pre_Prime
  SET_LED LED=extruder RED=1 GREEN=0 BLUE=0
        
  G92 E0 ; reset extruder
  G1 Z1.0 F3000 ; move z up little to prevent scratching of surface
  G1 X2 Y25 Z0.3 F5000.0 ; move to start-line position
  G1 X2 Y275.0 Z0.3 F1500.0 E40 ; draw 1st line
  G1 X2.5 Y275.0 Z0.3 F5000.0 ; move to side a little
  G92 E0 ; reset extruder
  G1 X2.5 Y25 Z0.3 F1500.0 E40 ; draw 2nd line
  G92 E0 ; reset extruder
  #G1 E-3 F2400 ; retract
  #G92 E0 ; reset extruder
  G1 Z1.0 F3000 ; move z up little to prevent scratching of surface
  RESTORE_GCODE_STATE NAME=Pre_Prime

  {% if printer["gcode_macro status_printing"] != null %}
    status_printing
  {% endif %}

[gcode_macro SET_LED_TO_RED]
gcode:
  SET_LED LED=extruder RED=1 GREEN=0 BLUE=0

[gcode_macro SET_LED_TO_WHITE]
gcode:
  SET_LED LED=extruder RED=1 GREEN=1 BLUE=1
